<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FontDataDir" value="D:\Test\FontData" />
    <add key="FontDataDirDest" value="D:\Test\syn" />
    <add key="MNISTDest" value="D:\Test\MNIST_Output" />
    <add key="ImageData" value="D:\Test\ByteDataDest\imagedata" />
    <add key="ImageLabel" value="D:\Test\ByteDataDest\imagelabel" />
    <add key="GeneratedChars" value="0123" />
  </appSettings>
</configuration>