<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FontDataDir" value="D:\Test\FontData_After_Filter_stag" />
    <add key="FontDataDirDest" value="D:\Test\FontData_Synthesize_Output" />
    <add key="ImageData" value="D:\Test\ByteDataDest\imagedata" />
    <add key="ImageLabel" value="D:\Test\ByteDataDest\imagelabel" />

  </appSettings>
</configuration>