<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ExportDir" value="D:\Test\FontData\" />  
    <add key="ExportWordDir" value="D:\Test\WordImages\" />  
    <!--<add key="GeneratedChars" value="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ" />-->


    <!--if TwoLetters has 1 as value, GeneratedChars will not be used -->
    <add key="GeneratedChars" value="abcdefghijklmnopqrstuvwxyz" />
    <add key="TwoLetters" value="1" />
    <!--<add key="GeneratedChars" value="0123456789" />-->  
    <add key="GoogleFontDir" value="D:\Test\ofl\" />
    <add key="DefaultExportFontSize" value="27" />
    
  </appSettings>
</configuration>