<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ExportDir" value="D:\Test\FontData\" />  
    <!--<add key="GeneratedChars" value="0123456789" />-->  
    <add key="GeneratedChars" value="0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYX" />  
    
    
    <add key="GoogleFontDir" value="D:\Test\ofl\" />
    <add key="DefaultExportFontSize" value="50" />



  </appSettings>
</configuration>